:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
  --font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* ================ HEADER */

.introducao {
  background: url(/assets/img/background.png);
  background-position-x: 50%;
}

.introducao header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  font-family: var(--font-family);
}

.container-introducao {
  max-width: 1460px;
  margin: auto;
}

.menu-navegacao ul {
  display: flex;
  gap: 4rem;
}

.menu-navegacao li a {
  color: var(--text-color);
  font-weight: 400;
}

.metamask-button {
  background-image: url(/assets/img/logo_MetaMask.svg);
  background-repeat: no-repeat;
  background-position: 10%;
  cursor: pointer;
  padding: 15px 34px 13px 33px;
  border: none;
  border-radius: 2px;
}

.metamask-button span {
  font-weight: 700;
  text-align: end;
  margin-left: 26px;
}
/* ================ FIM HEADER */

/* ================ SEÇÃO DESCRIÇÃO*/
.descricao {
  color: var(--text-color);
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
}

.box-texto1 {
  width: 24%;
}

.box-texto1 span {
  font-weight: 300;
  line-height: 24px;
}

.box-imagem1 {
  display: flex;
  padding-top: 2.5rem;
}

.box-texto-imagem1 {
  padding-top: 20px;
  padding-left: 12px;
}

.box-texto2 {
  width: 42%;
  font-size: 55px;
  padding-left: 8rem;
}

.trecho {
  color: var(--color-logo);
}
/* ================ FIM SEÇÃO DESCRIÇÃO */

/* ================ SEÇÃO DE CARDS */
.galeria {
  margin-top: 100px;
}

.card-align1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.card-align2 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card {
  border: solid 1px var(--text-color);
}

.galeria-wrap {
  margin-top: 2rem;
}

/* ================ FIM SEÇÃO DE CARDS */

/* ================ SEÇÃO DE INFORMAÇÕES */

.dados {
  background: var(--body-background);
  color: var(--text-color);
  font-family: var(--font-family);
  border-bottom: solid 1px var(--subtitle-color);
}

.container-dados {
  max-width: 1460px;
  margin: auto;
}

.absolute-container {
  margin-bottom: 165px;
}

.sidebar-dados {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-right: 1px solid var(--subtitle-color);
  width: 15%;
}

.sidebar-infos h4 {
  font-size: 4rem;
}

.sidebar-infos span {
  color: var(--subtitle-color);
  font-size: 1.3rem;
  padding-left: 27px;
}

.sidebar-dados:first-child {
  padding-top: 120px;
}

.sidebar-dados:last-child {
  padding-bottom: 100px;
}

.infos-last {
  padding-left: 27px;
}

.last-one {
  padding-left: 0px !important;
}

.dados-texto-container {
  display: flex;
  position: relative;
  left: 24rem;
  top: 4rem;
  width: 1000px;
  justify-content: space-between;
}

.dados-texto {
  width: 358px;
}

.dados-botao {
  padding-top: 5rem;
}
.dados-botao a {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

i {
  color: var(--color-logo);
}

.dados-banner {
  position: relative;
  left: 287px;
  width: 1395px;
  top: 167px;
}

.dados-banner img {
  width: 1394px;
  height: 300px;
  object-fit: cover;
}

/* ================ FIM SEÇÃO DE INFORMAÇÕES */

/* ================ SEÇÃO DE POPULARES */

.populares {
  padding-top: 120px;
  background-color: var(--body-background);
  font-family: var(--font-family);
}

.container-populares {
  max-width: 1460px;
  margin: auto;
  position: relative;
}

.populares-titulo h1 {
  font-size: 55px;
  color: var(--text-color);
}

.populares-titulo span {
  color: var(--color-logo);
}

.titulo-card {
  display: flex;
  justify-content: space-between;
}

.titulo-card h3 {
  font-size: 30px;
  color: var(--text-color);
  padding-bottom: 30px;
}

.body-card {
  display: flex;
  justify-content: space-between;
}

.body-card span {
  color: var(--subtitle-color);
  font-size: 20px;
  padding-bottom: 30px;
}
.body-card span:last-child {
  color: var(--color-logo);
  font-weight: 300;
}

.icon-card {
  background-image: url(/assets/img/arrow-white.svg);
}

.linha-1 {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}

.linha-2 {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.linha-central {
  position: absolute;
  width: 1px;
  height: 657px;
  border-left: solid 1px var(--subtitle-color);
  right: 44rem;
  z-index: 2;
  top: 12rem;
}

.populares-2-titulo {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.populares-2-titulo h3 {
  font-size: 55px;
  color: var(--text-color);
}

.populares-2-titulo span {
  color: var(--color-logo);
}

.populares-2-cards1 {
  display: flex;
  justify-content: space-between;
}

.populares-2-cards2 {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.populares-2-card {
  background-color: var(--card-color);
  width: 400px;
  height: 150px;
}

.segundo {
  background-color: var(--color-logo);
}

.segundo span {
  color: var(--text-color) !important;
}

.artistas {
  display: flex;
  padding-left: 30px;
  padding-top: 30px;
  align-items: center;
  gap: 3rem;
}

.populares-2-card img {
  height: 100px;
}
.artista-texto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-color);
  font-size: 20px;
}

.artista-texto span {
  color: var(--color-logo);
}

.populares-2-rodape {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.populares-2-rodape a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}

.orange-arrow {
  background-image: url(/assets/img/arrow-orange.svg);
}

/* ================ FIM SEÇÃO DE POPULARES */

/* ================ RODAPÉ */

.rodape {
  background: var(--card-color);
  font-family: var(--font-family);
}

.container-rodape {
  max-width: 1460px;
  margin: auto;
}

.secao-rodape1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
  padding-bottom: 50px;
}

.linha-bottom {
  border-bottom: 1px solid var(--subtitle-color);
}

.box-arrow-rodape {
  background-color: var(--color-logo);
  background-image: url(/assets/img/arrow-black.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 80px;
  height: 80px;
}

.mail-box {
  font-size: 30px;
  color: var(--text-color);
}

.mail-box span {
  color: var(--color-logo);
}

.mail {
}

.mail input {
  background-color: var(--color-input);
  width: 250px;
  height: 40px;
  border: none;
  text-align: center;
}

/* ================ FIM RODAPÉ */
